*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  /* height: 100%; */
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background-color: #19A1AE;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  color: #2E3349;
}

.wrapper {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card {
  background-color: #FFFFFF;
  width: 350px;
  height: 374px;
  border-radius: 15px;
  box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.504835);
}

.card__header {
  height: 139px;
  background-color: #41CBD3;
  border-radius: 15px 15Px 0 0;
  overflow: hidden;
}

.card__image-wrapper {
  margin: auto;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -138px;
  left: 50%;
  transform: translate(-50%, 92px);
}

.card__image {
  height: 100%;
  width: auto;
  position: relative;
}

.card__description {
  text-align: center;
  padding-top: 72px;
}

.card__title {
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  margin: 0;
}

.card__age {
  color: #6B7082;
}

.card__place {
  padding-top: 13px;
  font-size: 14px;
  color: #6B7082;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 31px;
  padding-right: 31px;
  border-top: 1px solid #E8E9EC;
}

.card__value {
  text-align: center;
  width: 33%;
}

.card__digit {
  margin-top: 9px;
  font-size: 10px;
  letter-spacing: 1.5px;
  color: #6B7082;
}

.oval {
  position: absolute;
  border-radius: 50%;
  width: 978px;
  height: 976px;
  background: linear-gradient(180deg, rgba(9, 137, 180, 0.01) 0.78%, #53FFEE 99.94%);
  mix-blend-mode: normal;
  z-index: -1;
}

.oval__left {
  left: -285px;
  top: -510px;
  opacity: 0.5;
  transform: rotate(-135deg);
}

.oval__right {
  right: -273px;
  bottom: -600px;
  opacity: 0.25;
  transform: matrix(0.71, -0.71, -0.71, -0.71, 0, 0);
}

.circles__group {
  display: flex;
  justify-content: space-between;
  margin-top: -5.8px;
}

.circle {
  width: 29.67px;
  height: 29.6px;
  border-radius: 50%;
  background: linear-gradient(180deg, rgba(9, 137, 180, 0.0001) 0.78%, #53FFEE 99.94%);
  mix-blend-mode: normal;
  opacity: 0.5;

}

.circle:nth-child(4n+1) {
  transform: rotate(180deg);
}

.circle:nth-child(4n+2) {
  transform: rotate(90deg);
}

.circle:nth-child(4n+3) {
  transform: rotate(-90deg);
}

.circles__group:nth-child(2n+1) {
  margin-left: -11.82px;
  margin-right: 11.82px;
}

.circles__group:nth-child(2n) {
  margin-left: 11.82px;
  margin-right: -11.82px;
}

.card__main {
  position: relative;
}

@media screen and (max-width: 760px) {

  .card {
    width: 326px;
  }

  .oval {
    width: 622px;
    height: 621px;

  }

  .oval__left {
    left: -402px;
    top: -375px;
    opacity: 0.25;
  }

  .oval__right {
    opacity: 0.25;
    right: -414px;
    bottom: -322px;
  }

}